Noya/.vs/Noya/FileContentIndex/80e46853-f200-4a9b-a573-9c94ab84f8a5.vsidx
Noya/.vs/Noya/DesignTimeBuild/.dtbcache.v2
Noya/.vs/Noya/FileContentIndex/1f2dd698-be7a-4f43-b50d-402c7efca686.vsidx
Noya/.vs/Noya/FileContentIndex/472f623b-5eb1-4771-8043-dc72f4ee54c2.vsidx
Noya/.vs/Noya/FileContentIndex/7ce99f4c-acfe-4a2b-bb08-24f4b21fb04f.vsidx
Noya/.vs/Noya/FileContentIndex/96aba630-f739-4059-80ed-453c43c594d4.vsidx
Noya/.vs/Noya/FileContentIndex/a124fda7-923a-4b7c-b1ae-5e259fe823b6.vsidx
Noya/.vs/Noya/FileContentIndex/b1c51dea-f204-41e8-a59e-1af23bf1c7fd.vsidx
Noya/.vs/Noya/FileContentIndex/b31d5623-9c42-4d04-aa9b-51e692a743af.vsidx
Noya/.vs/Noya/FileContentIndex/bb9c27af-3e5d-48d4-a513-ffc5de822c99.vsidx
